/* 全部基础样式配置 */
// 颜色设置 sdsds
$border-color: #e5e5e5; //边框颜色

// 字体
// $font-family-zh: Consolas,Menlo,Courier,monospace;
// 颜色
$black: #1a1a1a; 
$darkgray: #6a6a6a; 
$gray: #ababab; 
$lightgray: #ccc; 
$blue: #2582EA; 
$orange: #f7a650; 
$green: #08b91d; 
$red: #ff0300; 
$white: #fff;
// 尺寸
$rem118: 1.18rem; 
$rem100: 1rem; 
$rem80: 0.8rem; 
$rem50: 0.5rem; 
$rem40: 0.4rem; 
$rem36: 0.36rem; 
$rem32: 0.32rem; 
$rem30: 0.30rem;
$rem28: 0.28rem; 
$rem26: 0.26rem; 
$rem24: 0.24rem; 
$rem20: 0.2rem; 
$rem18: 0.18rem; 
$rem15: 0.15rem; 
$rem12: 0.12rem; 
$rem10: 0.1rem; 
$rem4: 0.04rem; 
$rem0: 0; 
// 对齐方式
$left:left; 
$center: center; 
$right:right;
// 背景颜色
$bg-gray: #e5e5e5; 
$bg-lightgray: #f1f1f1; 
$bg-white: #fff;
$bg-lightblue: #ecf6fd; 
$bg-orange: #f7a650; 
$bg-lightorange: #ffe7c3; 
$bg-red: #ff0000;

